{
  "openapi": "3.0.3",
  "info": {
    "title": "Like Me Like Agent API",
    "version": "1.0.0",
    "description": "Cross-domain taste recommendations for autonomous agents.\n\nAuth via X-LML-Agent-Id header. First call from a new agent_user_id\nauto-creates a shadow profile and grants 10 free calls; after that\nan x402 USDC top-up gates further calls (see /api/v1/billing/topup).",
    "contact": {
      "name": "Like Me Like",
      "url": "https://www.likemelike.com"
    }
  },
  "servers": [
    {
      "url": "https://www.likemelike.com",
      "description": "Production"
    }
  ],
  "components": {
    "securitySchemes": {
      "AgentId": {
        "type": "apiKey",
        "in": "header",
        "name": "X-LML-Agent-Id",
        "description": "Hashed third-party-supplied end-user id (8-256 ASCII chars). Server derives a synthetic public_key_hash 'api:'+sha256(id) and tracks usage against agent_balances."
      }
    },
    "schemas": {
      "Recommendation": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "description": "category id"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "reason": {
            "type": "string",
            "nullable": true
          },
          "imageUrl": {
            "type": "string",
            "nullable": true
          },
          "wikipedia_title": {
            "type": "string",
            "nullable": true
          },
          "variant": {
            "type": "string",
            "enum": [
              "best",
              "recent",
              "wild"
            ]
          }
        }
      },
      "Item": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "anchor_culture": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "image_url": {
            "type": "string",
            "nullable": true
          },
          "external_url": {
            "type": "string",
            "nullable": true
          },
          "affiliate_url": {
            "type": "string",
            "nullable": true
          },
          "wikipedia_title": {
            "type": "string",
            "nullable": true
          },
          "wikidata_id": {
            "type": "string",
            "nullable": true
          },
          "release_date": {
            "type": "string",
            "nullable": true
          },
          "popularity_score": {
            "type": "number",
            "nullable": true
          }
        }
      },
      "DisambiguateCandidate": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "anchor_culture": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "popularity_score": {
            "type": "number",
            "nullable": true
          },
          "confidence": {
            "type": "number",
            "description": "0-1 score"
          }
        }
      },
      "Profile": {
        "type": "object",
        "properties": {
          "slug": {
            "type": "string"
          },
          "screen_name": {
            "type": "string",
            "nullable": true
          },
          "summary": {
            "type": "string",
            "nullable": true
          },
          "liked": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProfileItem"
            }
          },
          "disliked": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProfileItem"
            }
          }
        }
      },
      "ProfileItem": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "reason": {
            "type": "string",
            "nullable": true
          },
          "image_url": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "detail": {
            "type": "string",
            "nullable": true
          }
        }
      }
    }
  },
  "security": [
    {
      "AgentId": []
    }
  ],
  "paths": {
    "/api/v1/recommend": {
      "post": {
        "summary": "Cross-domain taste recommendations",
        "description": "Streaming response in the LMLM wire format (SOURCE: line + narration text + sentinel + JSON result tail). For a JSON-only response, use /api/v1/recommend/scoped.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "item"
                ],
                "properties": {
                  "item": {
                    "type": "string"
                  },
                  "source_url": {
                    "type": "string",
                    "description": "URL to fetch (HTML) and use as item title"
                  },
                  "image": {
                    "type": "string",
                    "description": "base64 data URL (max 3 MB decoded)"
                  },
                  "image_url": {
                    "type": "string",
                    "description": "URL to an image (max 3 MB, jpeg/png/webp/gif)"
                  },
                  "locale": {
                    "type": "string",
                    "default": "en"
                  },
                  "variants": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "best",
                        "recent",
                        "wild"
                      ]
                    },
                    "description": "Default: ['best','recent']. 'wild' is an explicit opt-in for surprise picks. Total cells (categories.length × variants.length) is capped — see categories description."
                  },
                  "categories": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Cell budget: categories.length × variants.length ≤ 5. Each call returns a batch of 8–12 results total, spread across the cells — fewer cells means a deeper set per category. Result quality is best within this band; for more than one batch, split into parallel calls and merge client-side. See docs/agents.md."
                  },
                  "cultureMode": {
                    "type": "string",
                    "enum": [
                      "auto",
                      "force"
                    ]
                  },
                  "excludedTitles": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "liked_items": {
                    "type": "array",
                    "description": "See /api/v1/chat — same shape, same effect (cohort match before recommend; ~10-30 s extra latency on first call).",
                    "items": {
                      "type": "object",
                      "properties": {
                        "title": {
                          "type": "string"
                        },
                        "category": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "title"
                      ]
                    },
                    "maxItems": 20
                  },
                  "disliked_items": {
                    "type": "array",
                    "description": "See /api/v1/chat — same shape.",
                    "items": {
                      "type": "object",
                      "properties": {
                        "title": {
                          "type": "string"
                        },
                        "category": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "title"
                      ]
                    },
                    "maxItems": 20
                  },
                  "taste_signals": {
                    "type": "array",
                    "description": "See /api/v1/chat — free-form taste signals (abstract vibes/values, not catalog works) stored as person attributes.",
                    "items": {
                      "type": "object",
                      "properties": {
                        "text": {
                          "type": "string"
                        },
                        "polarity": {
                          "type": "string"
                        },
                        "reason": {
                          "type": "string"
                        },
                        "category": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "text"
                      ]
                    },
                    "maxItems": 20
                  },
                  "first_touch": {
                    "type": "object",
                    "description": "See /api/v1/chat — same shape.",
                    "properties": {
                      "timezone": {
                        "type": "string"
                      },
                      "country": {
                        "type": "string"
                      },
                      "device": {
                        "type": "string"
                      },
                      "referrer": {
                        "type": "string"
                      }
                    }
                  },
                  "user_demographics": {
                    "type": "object",
                    "description": "See /api/v1/chat — same shape (age_group / gender / birth_year, written with demographics_source='self').",
                    "properties": {
                      "age_group": {
                        "type": "string"
                      },
                      "gender": {
                        "type": "string"
                      },
                      "birth_year": {
                        "type": "integer"
                      }
                    }
                  },
                  "gift_mode": {
                    "type": "boolean",
                    "default": false,
                    "description": "See /api/v1/chat — true when the recommendation is for someone else; lands in gift_sessions."
                  },
                  "display_name": {
                    "type": "string",
                    "maxLength": 40,
                    "description": "See /api/v1/chat — end-user's first name or handle, written to the shadow profile's screen_name."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Streaming recommendation",
            "content": {
              "text/plain": {}
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing X-LML-Agent-Id"
          }
        }
      }
    },
    "/api/v1/recommend/more": {
      "post": {
        "summary": "Single-slot recommendation top-up",
        "description": "Fetch ONE additional recommendation for a specific (category, variant) slot without re-running the whole recommend call. Use to swap a single pick out of an existing carousel without paying for a new batch. Pass the SOURCE field from the original recommend response back as `item` so the prompt has the same enriched context, and include any titles already seen for this slot in `exclude` so the model doesn't return a duplicate. Same optional personalisation fields as /api/v1/recommend. Consumes one call credit (one LLM call). Returns a JSON object { recommendation } on success or { error } on failure.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "item",
                  "originalLang",
                  "category",
                  "variant"
                ],
                "properties": {
                  "item": {
                    "type": "string",
                    "description": "Enriched source item title — SAME text the original recommend call worked from (e.g. \"De Gruffalo (1999 British children's book, Julia Donaldson)\"). Pass back the SOURCE field from the earlier response, not the raw user query."
                  },
                  "locale": {
                    "type": "string",
                    "default": "en"
                  },
                  "originalLang": {
                    "type": "string",
                    "description": "2- or 3-letter ISO code for the source item's original cultural context (parsed from the SOURCE line of the original recommend response), OR 'und' for inputs without a single cultural origin (concepts like 'stoicism', 'melancholie')."
                  },
                  "category": {
                    "type": "string",
                    "description": "LMLM category id for the slot — must match an earlier categories[] entry on the original recommend call."
                  },
                  "variant": {
                    "type": "string",
                    "enum": [
                      "best",
                      "recent",
                      "wild"
                    ]
                  },
                  "exclude": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Titles already seen for this slot. Max 32 entries; entries capped at 200 chars.",
                    "maxItems": 32
                  },
                  "liked_items": {
                    "type": "array",
                    "description": "See /api/v1/chat.",
                    "items": {
                      "type": "object"
                    },
                    "maxItems": 20
                  },
                  "disliked_items": {
                    "type": "array",
                    "description": "See /api/v1/chat.",
                    "items": {
                      "type": "object"
                    },
                    "maxItems": 20
                  },
                  "taste_signals": {
                    "type": "array",
                    "description": "See /api/v1/chat — free-form taste signals stored as person attributes.",
                    "items": {
                      "type": "object"
                    },
                    "maxItems": 20
                  },
                  "unlike_items": {
                    "type": "array",
                    "description": "See /api/v1/chat.",
                    "items": {},
                    "maxItems": 20
                  },
                  "undislike_items": {
                    "type": "array",
                    "description": "See /api/v1/chat.",
                    "items": {},
                    "maxItems": 20
                  },
                  "first_touch": {
                    "type": "object",
                    "description": "See /api/v1/chat."
                  },
                  "user_demographics": {
                    "type": "object",
                    "description": "See /api/v1/chat."
                  },
                  "gift_mode": {
                    "type": "boolean",
                    "default": false,
                    "description": "See /api/v1/chat."
                  },
                  "display_name": {
                    "type": "string",
                    "maxLength": 40,
                    "description": "See /api/v1/chat."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "One recommendation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "recommendation": {
                      "$ref": "#/components/schemas/Recommendation"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing X-LML-Agent-Id"
          },
          "502": {
            "description": "Provider call failed"
          }
        }
      }
    },
    "/api/v1/popular": {
      "post": {
        "summary": "Cached \"what's popular right now\" feed",
        "description": "Server-cached popular picks per (locale, categories), layered on the caller's cohort signature. Same feed the LMLM website's homepage shows. Useful as a cheap starting point when you want to surface recommendations without firing a recommend call (no LLM cost, no credit consumed). Background warming may fire on the operator's side to fill empty per-cohort cache rows. Read-only; does NOT consume a free credit.",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "locale": {
                    "type": "string",
                    "default": "en"
                  },
                  "categories": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "LMLM category ids. Defaults to a curated free-tier set when omitted. Unknown ids are dropped silently."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Popular feed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "properties": {
                        "sourceCategory": {
                          "type": "string"
                        },
                        "recommendations": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Recommendation"
                          }
                        }
                      }
                    },
                    "cached": {
                      "type": "boolean",
                      "description": "True when every requested category had a cache hit; false when one or more rails are missing because the warm pass hasn't filled them yet."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing X-LML-Agent-Id"
          },
          "502": {
            "description": "Popular fetch failed"
          }
        }
      }
    },
    "/api/v1/recommend/scoped": {
      "post": {
        "summary": "Single-category focused recommendation",
        "description": "JSON response with up to num_picks recs in the named category. Powers the 'Interstellar → 1 book' shape. num_picks accepts 1; for more picks in the same category, call repeatedly with each returned title appended to a client-side exclude list.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "item",
                  "target_category"
                ],
                "properties": {
                  "item": {
                    "type": "string"
                  },
                  "source_url": {
                    "type": "string"
                  },
                  "image_url": {
                    "type": "string"
                  },
                  "target_category": {
                    "type": "string"
                  },
                  "num_picks": {
                    "type": "integer",
                    "enum": [
                      1
                    ],
                    "default": 1
                  },
                  "locale": {
                    "type": "string",
                    "default": "en"
                  },
                  "liked_items": {
                    "type": "array",
                    "description": "See /api/v1/chat.",
                    "items": {
                      "type": "object"
                    },
                    "maxItems": 20
                  },
                  "disliked_items": {
                    "type": "array",
                    "description": "See /api/v1/chat.",
                    "items": {
                      "type": "object"
                    },
                    "maxItems": 20
                  },
                  "taste_signals": {
                    "type": "array",
                    "description": "See /api/v1/chat — free-form taste signals stored as person attributes.",
                    "items": {
                      "type": "object"
                    },
                    "maxItems": 20
                  },
                  "first_touch": {
                    "type": "object",
                    "description": "See /api/v1/chat."
                  },
                  "user_demographics": {
                    "type": "object",
                    "description": "See /api/v1/chat."
                  },
                  "gift_mode": {
                    "type": "boolean",
                    "default": false,
                    "description": "See /api/v1/chat."
                  },
                  "display_name": {
                    "type": "string",
                    "maxLength": 40,
                    "description": "See /api/v1/chat."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Recommendations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "recommendations": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Recommendation"
                      }
                    },
                    "source": {
                      "type": "object",
                      "properties": {
                        "title": {
                          "type": "string"
                        },
                        "category": {
                          "type": "string",
                          "nullable": true
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error"
          },
          "401": {
            "description": "Missing X-LML-Agent-Id"
          }
        }
      }
    },
    "/api/v1/disambiguate": {
      "post": {
        "summary": "Resolve an ambiguous title to ranked items",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "query"
                ],
                "properties": {
                  "query": {
                    "type": "string"
                  },
                  "category_hint": {
                    "type": "string"
                  },
                  "limit": {
                    "type": "integer",
                    "default": 10,
                    "maximum": 25
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ranked candidates",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "candidates": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/DisambiguateCandidate"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/item/{id}": {
      "get": {
        "summary": "Item detail by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Item",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "item": {
                      "$ref": "#/components/schemas/Item"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/api/v1/item/search": {
      "get": {
        "summary": "Search items catalog by title prefix",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Items list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Item"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/me": {
      "get": {
        "summary": "Caller's own taste profile (introspection)",
        "description": "Returns what LMLM has learned about the agent identified by the X-LML-Agent-Id header: summary, cluster_axes, cohort top-N, raw liked / disliked arrays, demographics signal-state, screen_name, share state, tier + free-calls-remaining. Read-only; does NOT consume a free credit.",
        "responses": {
          "200": {
            "description": "Own taste profile",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid X-LML-Agent-Id"
          }
        }
      },
      "delete": {
        "summary": "Wipe the caller's account",
        "description": "Deletes the user row, which CASCADEs to every per-user table (taste profile, ratings log, training events, LLM call log, reason feedback, gift sessions, backups). Per-cohort cached popular_picks rows age out separately. Any model-provider scoped keys tied to the account are best-effort revoked. Idempotent: always returns 200 ok=true. Each call wipes whatever state currently exists; a second call right after the first is a no-op because the auth layer auto-recreates an empty shadow row, which the delete then clears. Does NOT consume a free credit.",
        "responses": {
          "200": {
            "description": "Account deleted (or no-op on a fresh empty shell)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid X-LML-Agent-Id"
          },
          "500": {
            "description": "Delete failed (transient DB error)"
          }
        }
      }
    },
    "/api/v1/me/consent": {
      "post": {
        "summary": "Set the caller's training-data consent",
        "description": "Flip the training_consent flag. 'granted' = corpus collection on; 'denied' = corpus collection off (calls still run, data isn't fed downstream); 'unknown' = default state, kept distinct so hosts can prompt for an explicit choice later. Does NOT consume a free credit.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "consent"
                ],
                "properties": {
                  "consent": {
                    "type": "string",
                    "enum": [
                      "granted",
                      "denied",
                      "unknown"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Consent updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Validation error"
          },
          "401": {
            "description": "Missing or invalid X-LML-Agent-Id"
          }
        }
      }
    },
    "/api/v1/me/share": {
      "post": {
        "summary": "Patch the caller's public-profile share settings",
        "description": "Update screen_name (display name on the public profile at /profile/{slug}) and/or the enabled flag (whether that profile is accessible at all). Lazy-mints the slug if absent. Pass only the fields you want to change. Pass screenName: null to clear. Does NOT consume a free credit.",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "screenName": {
                    "type": "string",
                    "maxLength": 40,
                    "nullable": true
                  },
                  "enabled": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated share settings",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "slug": {
                      "type": "string",
                      "nullable": true
                    },
                    "screenName": {
                      "type": "string",
                      "nullable": true
                    },
                    "enabled": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error"
          },
          "401": {
            "description": "Missing or invalid X-LML-Agent-Id"
          },
          "404": {
            "description": "User not found"
          }
        }
      }
    },
    "/api/v1/me/rating-log": {
      "post": {
        "summary": "Append rating events to the caller's training corpus",
        "description": "Record up/down reactions on picks already shown to the end-user. Same shape as the website's thumb log so the downstream pipeline treats agent + website data as one corpus. ratingId is the idempotency key — duplicates are no-ops. Max 100 entries per call. Does NOT consume a free credit.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "entries"
                ],
                "properties": {
                  "entries": {
                    "type": "array",
                    "maxItems": 100,
                    "items": {
                      "type": "object",
                      "required": [
                        "ratingId",
                        "ts",
                        "signal",
                        "category",
                        "recTitle"
                      ],
                      "properties": {
                        "ratingId": {
                          "type": "string"
                        },
                        "ts": {
                          "type": "number",
                          "description": "Unix timestamp in ms."
                        },
                        "signal": {
                          "type": "string",
                          "enum": [
                            "up",
                            "down"
                          ]
                        },
                        "category": {
                          "type": "string"
                        },
                        "recTitle": {
                          "type": "string"
                        },
                        "variant": {
                          "type": "string",
                          "nullable": true
                        },
                        "sourceInput": {
                          "type": "string",
                          "nullable": true
                        },
                        "enrichedItem": {
                          "type": "string",
                          "nullable": true
                        },
                        "sourceCategory": {
                          "type": "string",
                          "nullable": true
                        },
                        "originalLang": {
                          "type": "string",
                          "nullable": true
                        },
                        "locale": {
                          "type": "string",
                          "nullable": true
                        },
                        "candidateTitles": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Entries appended",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "inserted": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error"
          },
          "401": {
            "description": "Missing or invalid X-LML-Agent-Id"
          }
        }
      }
    },
    "/api/v1/me/saved": {
      "get": {
        "summary": "List the caller's saved (bookmarked) items",
        "description": "Returns the user's save-for-later list, freshest first. Distinct from liked_items (which imply personal experience + preference). Read-only; does NOT consume a free credit.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 30
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Saved items",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "title": {
                            "type": "string"
                          },
                          "category": {
                            "type": "string",
                            "nullable": true
                          },
                          "reasonSnapshot": {
                            "type": "string",
                            "nullable": true
                          },
                          "sourceQuery": {
                            "type": "string",
                            "nullable": true
                          },
                          "sourceConversationId": {
                            "type": "string",
                            "nullable": true
                          },
                          "savedAt": {
                            "type": "string",
                            "format": "date-time"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid X-LML-Agent-Id"
          }
        }
      },
      "post": {
        "summary": "Save (bookmark) an item for later",
        "description": "Adds a title to the user's save-for-later list. Use this when the user signals intent to revisit a recommendation they haven't experienced yet ('save this', 'bewaar 'm voor me', 'on my list'). Distinct from liked_items — saves do NOT touch the cohort signal. Idempotent on (title, category): re-saving updates the reason but preserves the original saved_at. Does NOT consume a free credit.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "title"
                ],
                "properties": {
                  "title": {
                    "type": "string",
                    "maxLength": 256
                  },
                  "category": {
                    "type": "string"
                  },
                  "reason": {
                    "type": "string",
                    "maxLength": 1000
                  },
                  "source_query": {
                    "type": "string",
                    "maxLength": 2000
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Saved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Validation error"
          },
          "401": {
            "description": "Missing or invalid X-LML-Agent-Id"
          }
        }
      },
      "delete": {
        "summary": "Remove an item from the saved list",
        "description": "Remove a specific title from the user's saved-items list. Use when the user has now experienced the item (and you're about to add it to liked_items / disliked_items) or asks to un-save. Title-matching is case-insensitive on (category, title) — same key as POST.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "title"
                ],
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "category": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Removed (or no-op if absent)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Validation error"
          },
          "401": {
            "description": "Missing or invalid X-LML-Agent-Id"
          }
        }
      }
    },
    "/api/v1/me/reason-feedback": {
      "post": {
        "summary": "Record the end-user's reaction to a pick's reason line",
        "description": "Per-(user, item) free-text feedback on the LLM 'why this fits' line. Distinct from rating-log (which captures up/down on the pick). The (reasonText, feedback) pair lets the training pipeline distinguish 'good rec, bad reasoning' from 'bad rec full stop'. NEVER fed back into the live prompt. Upsert: re-posting the same itemId overwrites the prior row. Does NOT consume a free credit.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "itemId",
                  "reasonText",
                  "feedback"
                ],
                "properties": {
                  "itemId": {
                    "type": "string",
                    "maxLength": 256
                  },
                  "reasonText": {
                    "type": "string",
                    "maxLength": 1000
                  },
                  "feedback": {
                    "type": "string",
                    "maxLength": 500
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Feedback stored",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Validation error"
          },
          "401": {
            "description": "Missing or invalid X-LML-Agent-Id"
          }
        }
      }
    },
    "/api/v1/me/gifts": {
      "get": {
        "summary": "Caller's past gift_mode sessions",
        "description": "Lists past recommendation calls where gift_mode: true was set, freshest first. Read-only.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "default": 30
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Gift sessions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sessions": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "query": {
                            "type": "string"
                          },
                          "locale": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "recCount": {
                            "type": "integer"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/me/refresh-summary": {
      "post": {
        "summary": "Force re-derive the caller's taste summary",
        "description": "Triggers a fresh summary + cluster_axes + embedding + cohort assignment on the CURRENT liked / disliked arrays (no new anchors). Rate limited: 1× per minute, 10× per day per agent. Consumes one call credit (same as a recommend call).",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "locale": {
                    "type": "string",
                    "default": "en"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Refresh succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "no_profile — pass liked_items first"
          },
          "429": {
            "description": "too_soon (1×/min) or daily_cap (10×/day)"
          },
          "502": {
            "description": "derive_failed — upstream LLM error"
          }
        }
      }
    },
    "/api/v1/skills/versions": {
      "get": {
        "summary": "Canonical skill version stamps",
        "description": "Returns the latest version-stamp (ISO date string) on each shipped SKILL.md in the public like-me-like/integrations repo, plus the canonical URLs to fetch the latest content. Integrators compare these dates against the lml_skill_version frontmatter field on their local copy — when the server reports a newer date, the local skill is behind. No auth required.",
        "responses": {
          "200": {
            "description": "Skill versions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "skills": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "openclaw"
                          },
                          "version": {
                            "type": "string",
                            "example": "2026-05-10"
                          },
                          "canonical_url": {
                            "type": "string",
                            "format": "uri",
                            "description": "Raw URL of the latest SKILL.md content."
                          },
                          "browse_url": {
                            "type": "string",
                            "format": "uri",
                            "description": "Human-friendly GitHub URL for the same file."
                          }
                        }
                      }
                    },
                    "changelog_url": {
                      "type": "string",
                      "format": "uri"
                    },
                    "docs_url": {
                      "type": "string",
                      "format": "uri"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/profiles/{slug}": {
      "get": {
        "summary": "Public profile by slug",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Profile",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "profile": {
                      "$ref": "#/components/schemas/Profile"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found or sharing disabled"
          }
        }
      }
    },
    "/api/v1/chat": {
      "post": {
        "summary": "Conversational entry point with tool-calling",
        "description": "Natural-language input. The chat brain parses intent and calls the atomic /api/v1/* endpoints as tools. Modes: stateful (omit conversation_id on first turn → server returns one; pass it back to accumulate history) OR stateless (pass previous_messages explicitly). Cell-budget rule applies inside any recommend_* tool calls — if you ask for more than ~10 results, the brain narrows and explains.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "message"
                ],
                "properties": {
                  "message": {
                    "type": "string",
                    "maxLength": 4000,
                    "description": "User's natural-language turn."
                  },
                  "conversation_id": {
                    "type": "string",
                    "description": "Stateful mode. Omit on first turn; server creates one and returns the id."
                  },
                  "source": {
                    "type": "string",
                    "enum": [
                      "web",
                      "x",
                      "api",
                      "mcp"
                    ],
                    "default": "api",
                    "description": "Drives the system-prompt persona — 'api' is the default for agent integrations."
                  },
                  "locale": {
                    "type": "string",
                    "default": "en"
                  },
                  "previous_messages": {
                    "type": "array",
                    "description": "Stateless mode — caller-managed history. Mutually exclusive with conversation_id.",
                    "items": {
                      "type": "object",
                      "properties": {
                        "role": {
                          "type": "string",
                          "enum": [
                            "user",
                            "assistant",
                            "tool",
                            "system"
                          ]
                        },
                        "content": {
                          "type": "string"
                        }
                      }
                    },
                    "maxItems": 40
                  },
                  "liked_items": {
                    "type": "array",
                    "description": "Optional. 1-5 items the end-user has explicitly said they love (films, books, music, places, etc.). Triggers cohort matching against similar users on the FIRST turn it's passed (~10-30 s extra latency). Subsequent turns within the same conversation skip the prep.",
                    "items": {
                      "type": "object",
                      "properties": {
                        "title": {
                          "type": "string"
                        },
                        "category": {
                          "type": "string",
                          "description": "Optional LMLM category id (e.g. 'book', 'movie'). Inferred when omitted."
                        }
                      },
                      "required": [
                        "title"
                      ]
                    },
                    "maxItems": 20
                  },
                  "disliked_items": {
                    "type": "array",
                    "description": "Optional. Items the end-user has explicitly said they DISLIKE. Same shape as liked_items.",
                    "items": {
                      "type": "object",
                      "properties": {
                        "title": {
                          "type": "string"
                        },
                        "category": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "title"
                      ]
                    },
                    "maxItems": 20
                  },
                  "first_touch": {
                    "type": "object",
                    "description": "Optional cold-start signals for cohort matching when liked_items is empty. Mirrors the website's device_profile + first_visit_context shape; pass any subset the channel can derive.",
                    "properties": {
                      "timezone": {
                        "type": "string",
                        "description": "IANA TZ, e.g. 'Europe/Amsterdam'."
                      },
                      "country": {
                        "type": "string",
                        "description": "ISO 3166-1 alpha-2, e.g. 'NL'."
                      },
                      "device": {
                        "type": "string",
                        "description": "'mobile' | 'desktop' | 'tablet'."
                      },
                      "referrer": {
                        "type": "string",
                        "description": "e.g. 'whatsapp', 'discord', 'web'."
                      },
                      "languages": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "Ordered locale preferences, BCP-47. Primary first. Max 6 entries."
                      },
                      "entry_path": {
                        "type": "string",
                        "description": "Path inside the host app the user landed on."
                      },
                      "entry_params": {
                        "type": "object",
                        "description": "Whitelisted attribution params (utm_*, ref, source, via).",
                        "additionalProperties": {
                          "type": "string"
                        }
                      },
                      "prefers_dark": {
                        "type": "boolean"
                      }
                    }
                  },
                  "user_demographics": {
                    "type": "object",
                    "description": "Optional self-declared demographics. Persisted on the shadow profile with demographics_source='self' so the retrieval filter (when wired) can match against item-level age/gender targeting.",
                    "properties": {
                      "age_group": {
                        "type": "string",
                        "enum": [
                          "kid",
                          "tween",
                          "teen",
                          "young_adult",
                          "adult",
                          "middle_age",
                          "senior"
                        ]
                      },
                      "gender": {
                        "type": "string",
                        "enum": [
                          "male",
                          "female",
                          "non_binary"
                        ]
                      },
                      "birth_year": {
                        "type": "integer",
                        "minimum": 1900
                      }
                    }
                  },
                  "gift_mode": {
                    "type": "boolean",
                    "default": false,
                    "description": "Optional. true when the recommendation is for someone else (gift, friend, child). Lands in gift_sessions instead of the agent's own taste graph; the brain builds picks around the message-described recipient, not prior agent likes."
                  },
                  "display_name": {
                    "type": "string",
                    "maxLength": 40,
                    "description": "Optional. The end-user's first name or handle (max 40 chars). Persisted on the shadow profile's screen_name; the brain will address the user by this name when natural. Pass on every call where it's known — late corrections overwrite cleanly. The same name surfaces on the user's public profile if they later claim/link this shadow account on the LML website."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Chat reply",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "conversation_id": {
                      "type": "string",
                      "nullable": true,
                      "description": "Present in stateful mode."
                    },
                    "reply": {
                      "type": "string",
                      "description": "Assistant text reply."
                    },
                    "recommendations": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Recommendation"
                      },
                      "description": "Flattened recs from any recommend_* tool calls in this turn."
                    },
                    "tool_calls": {
                      "type": "array",
                      "description": "Audit log of tool calls executed.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "args": {
                            "type": "object"
                          },
                          "ok": {
                            "type": "boolean"
                          },
                          "error": {
                            "type": "string",
                            "nullable": true
                          }
                        }
                      }
                    },
                    "latency_ms": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error"
          },
          "401": {
            "description": "Missing X-LML-Agent-Id"
          },
          "403": {
            "description": "Conversation belongs to another agent"
          },
          "404": {
            "description": "Conversation not found or expired"
          },
          "502": {
            "description": "Chat orchestrator failed"
          }
        }
      }
    },
    "/api/v1/mcp": {
      "post": {
        "summary": "MCP (Model Context Protocol) Streamable-HTTP transport",
        "description": "JSON-RPC 2.0 endpoint exposing the agent surface as a standard MCP server. Tools: 6 atomic recommend / catalog tools (recommend_cross, recommend_scoped, disambiguate, get_item, search_items, get_profile), 3 me-introspection tools (get_my_profile, list_my_gifts, refresh_my_summary), 2 feed tools (recommend_more, get_popular), 6 account-management tools (delete_my_account, set_training_consent, set_share_settings, log_rating, submit_reason_feedback, set_rating), 3 save-for-later tools (save_item, list_saved_items, remove_saved_item), and a high-level 'ask' tool that wraps /api/v1/chat. Methods: initialize, tools/list, tools/call, ping. Auth via X-LML-Agent-Id header — same as the rest of /api/v1/*.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "description": "JSON-RPC 2.0 request — single message or array (batch).",
                "oneOf": [
                  {
                    "type": "object",
                    "properties": {
                      "jsonrpc": {
                        "type": "string",
                        "enum": [
                          "2.0"
                        ]
                      },
                      "id": {
                        "oneOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "integer"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "method": {
                        "type": "string"
                      },
                      "params": {
                        "type": "object"
                      }
                    },
                    "required": [
                      "jsonrpc",
                      "method"
                    ]
                  },
                  {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON-RPC 2.0 response (or array for batches).",
            "content": {
              "application/json": {}
            }
          },
          "204": {
            "description": "Notification (no `id`) — no response body."
          },
          "401": {
            "description": "Missing X-LML-Agent-Id"
          }
        }
      },
      "get": {
        "summary": "MCP server discovery (returns 405)",
        "description": "Not a real GET endpoint — returns 405 Method Not Allowed with a hint to POST. Some clients probe GET first; this saves them an obscure error.",
        "security": [],
        "responses": {
          "405": {
            "description": "Method Not Allowed (POST only)."
          }
        }
      }
    },
    "/api/v1/billing/topup/challenge": {
      "post": {
        "summary": "Create a hosted-payment challenge for end-user wallet pay",
        "description": "Pattern C-lite: creates a payment challenge bound to the agent and returns a link the agent shows the end-user. The user opens the link, signs an EIP-3009 transferWithAuthorization in their wallet, and the page POSTs the signed payload to /sign. The agent polls /status until status='settled' then retries the original call.",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "amount_usd_micros": {
                    "type": "integer",
                    "minimum": 100000,
                    "maximum": 1000000000,
                    "description": "$0.10 to $1000 in USD micros. Defaults to first preset when omitted."
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "x402",
                      "lightning"
                    ],
                    "default": "x402",
                    "description": "Payment rail. 'x402' = EIP-3009 USDC on Base; 'lightning' = BOLT11 via Alby/NWC. Selects which response shape and which payment UX the /pay page renders."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Challenge created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "challenge_id": {
                      "type": "string"
                    },
                    "method": {
                      "type": "string",
                      "enum": [
                        "x402",
                        "lightning"
                      ]
                    },
                    "link_url": {
                      "type": "string",
                      "format": "uri"
                    },
                    "amount_usd_micros": {
                      "type": "string"
                    },
                    "pay_to_address": {
                      "type": "string",
                      "nullable": true,
                      "description": "Set for x402 only."
                    },
                    "network": {
                      "type": "string",
                      "nullable": true,
                      "description": "Set for x402 only. CAIP-2, e.g. eip155:8453"
                    },
                    "asset_address": {
                      "type": "string",
                      "nullable": true,
                      "description": "Set for x402 only. USDC contract."
                    },
                    "invoice_bolt11": {
                      "type": "string",
                      "nullable": true,
                      "description": "Set for lightning only. BOLT11 invoice."
                    },
                    "payment_hash_hex": {
                      "type": "string",
                      "nullable": true,
                      "description": "Set for lightning only."
                    },
                    "amount_sats": {
                      "type": "integer",
                      "nullable": true,
                      "description": "Set for lightning only. Locked at challenge time."
                    },
                    "btc_usd_rate": {
                      "type": "number",
                      "nullable": true,
                      "description": "Set for lightning only. BTC/USD spot rate used to compute amount_sats."
                    },
                    "valid_after_unix": {
                      "type": "string"
                    },
                    "valid_before_unix": {
                      "type": "string"
                    },
                    "expires_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "pending",
                        "signed",
                        "settled",
                        "expired",
                        "failed"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error"
          },
          "401": {
            "description": "Missing X-LML-Agent-Id"
          },
          "502": {
            "description": "Lightning invoice generation failed (Alby unreachable)"
          },
          "503": {
            "description": "x402 or l402 not configured on the operator side"
          }
        }
      }
    },
    "/api/v1/billing/topup/poll": {
      "get": {
        "summary": "Public poll for hosted-payment challenges (no auth)",
        "description": "Used by the /pay page to detect settlement without exposing agent credentials. Returns minimal status only. For Lightning challenges, this poll triggers an Alby lookupInvoice + balance credit if the invoice was just paid.",
        "security": [],
        "parameters": [
          {
            "name": "challenge_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Challenge status (minimal)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "challenge_id": {
                      "type": "string"
                    },
                    "method": {
                      "type": "string",
                      "enum": [
                        "x402",
                        "lightning"
                      ]
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "pending",
                        "signed",
                        "settled",
                        "expired",
                        "failed"
                      ]
                    },
                    "expires_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "newly_settled": {
                      "type": "boolean",
                      "description": "True if this poll was the one that flipped the row to settled."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing challenge_id"
          },
          "404": {
            "description": "Challenge not found"
          }
        }
      }
    },
    "/api/v1/billing/topup/status": {
      "get": {
        "summary": "Poll a hosted-payment challenge",
        "description": "Pattern C-lite poll endpoint. Status progresses pending → signed → settled (or expired / failed). Agent must own the challenge.",
        "parameters": [
          {
            "name": "challenge_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Challenge status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "challenge_id": {
                      "type": "string"
                    },
                    "method": {
                      "type": "string",
                      "enum": [
                        "x402",
                        "lightning"
                      ]
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "pending",
                        "signed",
                        "settled",
                        "expired",
                        "failed"
                      ]
                    },
                    "amount_usd_micros": {
                      "type": "string"
                    },
                    "settled_tx_hash": {
                      "type": "string",
                      "nullable": true,
                      "description": "x402: on-chain tx hash. lightning: payment_hash or preimage."
                    },
                    "failed_reason": {
                      "type": "string",
                      "nullable": true
                    },
                    "expires_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "balance_usd_micros": {
                      "type": "string"
                    },
                    "free_calls_remaining": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing challenge_id"
          },
          "401": {
            "description": "Missing X-LML-Agent-Id"
          },
          "403": {
            "description": "Challenge belongs to a different agent"
          },
          "404": {
            "description": "Challenge not found"
          }
        }
      }
    },
    "/api/v1/billing/topup/sign": {
      "post": {
        "summary": "Submit signed EIP-3009 payload (called by the hosted page)",
        "description": "Pattern C-lite: invoked from the /pay/[challengeId] page in the end-user's browser, NOT directly by the agent. Auth is the unguessable challenge_id. Server runs verify+settle through the CDP facilitator and credits the agent's balance.",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "challenge_id",
                  "payment_payload"
                ],
                "properties": {
                  "challenge_id": {
                    "type": "string"
                  },
                  "payment_payload": {
                    "type": "object",
                    "description": "x402 paymentPayload with EIP-3009 signed authorization (scheme 'exact')."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Settled successfully"
          },
          "400": {
            "description": "Validation error"
          },
          "402": {
            "description": "Payment proof rejected by facilitator"
          },
          "404": {
            "description": "Challenge not found"
          },
          "409": {
            "description": "Challenge not in 'pending' state"
          },
          "410": {
            "description": "Challenge expired"
          },
          "500": {
            "description": "On-chain settle succeeded but balance write failed (operator reconciles)"
          },
          "502": {
            "description": "Facilitator verify or settle threw"
          },
          "503": {
            "description": "x402 not configured on the operator side"
          }
        }
      }
    },
    "/api/v1/openapi": {
      "get": {
        "summary": "OpenAPI spec for this API surface",
        "security": [],
        "responses": {
          "200": {
            "description": "OpenAPI 3.0 JSON",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    }
  }
}
